{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
<div class="row mb-3">
	<div class="col-sm-12 text-center">
		<h2>Lista Pessoas</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 table table-bordered pt-1 pb-1 border border-primary"
	style="max-height: 306px">
		<form class="" action="{% url 'core_cadastra_pessoas' %}" 
		method="POST">
		{% csrf_token %}
		{{ form|bootstrap }}
			<button class="btn btn-primary" 
			type="submit">Cadastrar</button>
		</form>
	</div>
	<div class="col-sm-4 pt-1 text-center">
		<div class="list-group">
			{% for pessoa in pessoas %}
			<a href="{% url 'core_update_pessoas' pessoa.id %}" class="list-group-item list-group-item-action btn btn-primary"
			role="button" aria-pressed="true">
   			{{ pessoa.nome }}
  			</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
