{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
<div class="row mb-3">
	<div class="col-sm-12 text-center">
		<h2>Atualizar Mensalista: {{ mensalista.veiculo }}</h2>
	</div>
</div>
<div class="row">	
	<div class="col-sm-12 table-bordered borde pt-1 pb-1 border border-primary">
		<form action="{% url 'core_update_mensalistas' mensalista.id %}" 
		method="POST">
		{% csrf_token %}
		{{ form|bootstrap }}
			<div class="btn-toolbar justify-content-between">
				<button class="btn btn-primary" 
				type="submit">Salvar</button>
				<a class="btn btn-danger" 
				href="{% url 'core_delete_mensalistas' mensalista.id %}" 
				role="button">Deletar</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}